.App {
  text-align: center;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.review-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 80%;
  max-width: 600px;
  text-align: left;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  padding: 10px;
  margin: 20px 0;
  width: 80%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.List {
  border: 1px solid #ccc;
}

.row {
  padding: 5px;
  height: auto;
  border-bottom: 1px solid #ccc;
}

.loading {
  padding: 10px;
  text-align: center;
}

.Head {
  flex-direction: column;
}
